.cart {
  .page-title {
    h1 {
      & + ul {
        display: none;
      }
    }
  }
  form {
    overflow-x: hidden;
    fieldset {
      margin: 0.5em 0;
      padding: 0;
      #shopping-cart-table {
        tbody {
          img {
            max-width: inherit;
          }
        }
        width: 100%;
        tfoot {
          td.last {
            padding: 0.5em;
          }
          .button-group,
          button {
            margin-bottom: 0;
          }
          .button-group {
            @extend .float-right, .small;
          }
          .btn-empty {
            float: left;
          }
          .btn-update,
          .btn-continue {
            float: right;
          }
          .btn-update {
            margin: 0 0.5em;
          }
          @include breakpoint(small) {
            button {
              clear: both;
            }
            .btn-empty {
              margin: 1em 0;
            }
          }
        }
      }
    }
  }
  .cart-collaterals {
    .shipping {
      .buttons-set {
        .button {
          float: right;
        }
      }
    }
    .totals {
      table,
      ul {
        @extend .float-right, .text-right;
      }
      table {
        margin-top: 1em;
      }
      .checkout-types {
        @extend .menu, .align-right;
        p {
          margin: 0;
        }
        .paypal-or, amazonpayments-or {
          margin: 0 1rem;
          font-size: inherit;
          line-height: inherit;
          padding: 0;
        }
      }
    }
  }
}

#mini_cart {
  #shopping-cart-table {
    width: 100%;
  }
}