.footer-container {
  margin-top: 0.5rem;
  .footer-top {
    background: $primary-color;
    @extend .text-center;
    padding: 0.8rem 0;
    border-bottom: 1px solid $white;
    a {
      color: $white;
    }
    &:hover, &:focus {
      background: scale-color($primary-color, $lightness: -60%);
    }
  }
  .footer-middle {
    padding: 1rem 0;
    background: scale-color($primary-color, $lightness: -30%);
    color: $white;
    ul li {
      @include breakpoint(small only) {
        text-align: center;
      }
    }
    h4 {
      font-size: 1.2rem;
      @include breakpoint(small only) {
        text-align: center;
        padding: 1rem 0 0 0;
      }
    }
    a {
      font-size: .9rem;
      color: #DDDDDD;
      &:hover, &:focus {
        text-decoration: underline;
      }
    }
  }
  .footer-middle-2 {
    background: scale-color($primary-color, $lightness: -45%);
    .payments {
      ul {
        li {
          display: inline;
          margin: .5rem;
          a {
            i {
              font-size: 2rem;
              color: $white;
            }
            &:hover i, &:focus i {
              color: $secondary-color;
            }
          }
        }
      }
    }
  }
  .footer-bottom {
    background: scale-color($primary-color, $lightness: -60%);
    .social {
      margin: 0 0 1rem 0;
      ul {
        li {
          display: inline;
          margin: .5rem;
          a {
            i {
              font-size: 2rem;
              color: $white;
            }
            &:hover i, &:focus i {
              color: $secondary-color;
            }
          }
        }
      }
    }
    .org {
      ul {
        @extend .menu;
        a {
          font-size: .9rem;
          color: #DDDDDD;
          &:hover, &:focus {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.reasons {
  @extend .show-for-large;
  display: none;
  position: fixed;
  padding: .5em .5em .5em 1.5em;
  left: 0;
  top: 15em;
  background-color: #00bbff;
  margin-left: -1em;
  border-radius: 3px;
  span:first-child {
    padding: 0;
    font-family: 'Open Sans';
    color: #ffffff;
    font-size: 3.5em;
    font-weight: bold;
    display: block;
  }
  span:nth-child(2n) {
    display: block;
    text-transform: uppercase;
    font-family: 'Open Sans';
    color: #ffffff;
    font-size: .9em;
  }
}